// Screens
    $sm: 576px;
    $md: 768px;
    $lg: 992px;
    $xl: 1100px;

// Fonts
    $header-height: 3rem;
    $font-semi: 600;
    $font-bold: 700;

// Colors
    $secondary: #e55947;
    $first-color: #e55947;
    $first-color-alt: #d2321e;
    $white: #ffffff;
    $white-alt: #fafaff;
    $dark: #101010;
    $dark-color-light: #606060;
    $gray: #f0f1f3;

// Font Typography

    $body-font: 'Open Sans', sans-serif;
    $big-font-size: 3rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 0.9rem;
    $small-font-size: 0.75rem;
    $normal-font-size: 16px;


@media screen and (min-width:768px){
    $big-font-size: 6rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1rem;
    $small-font-size: 0.8rem;
    } 

// Margins
    $mb-1: 0.5rem;
    $mb-2: 1rem;
    $mb-3: 1.5rem;
    $mb-4: 2rem;

// z-index
    $z-tooltip: 10;
    $z-fixed: 100;